*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 350vh;
    gap: 3px;
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    color: rgb(245, 245, 237);
}
header{
    padding: 100px;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:   rgb(24, 26, 61);
    background-image: url(img/portada.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size: 4em;
    color:  rgb(233, 220, 204);
    letter-spacing: 10px;
}
.nav{
    background-color: rgb(24, 26, 61);
}
.nav a{
    padding: 0 50px;
    height: 50px;
    color:rgb(155, 155, 117);
    font-size: 1.5em;
    text-decoration: none;
    text-align: center;
    
}
#titulo2{
    height: 100px;
    padding: 10px;
    text-align: center;
    letter-spacing: 50px;
    font-size: 3em;
}
main{
    flex-wrap: wrap;
    display: flex;
    height: 450px;
    flex: 1;
    gap: 6px;
}
nav{
    font-size: 0.5em;
    height: 40px;
    background-color: #deba5a;
}
#titulo2{
    width: 100%;
    height:50px;
    background-color: rgb(233, 220, 204);
    color: rgb(155, 155, 117);
    font-size: 0.8em;
}
article{
    margin: 10px 20px;
    padding: 100px;
    width: 200px;
    height: auto;
    display: block;
    gap: 5px 10px;
}
.zona{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.uno{
    background-color: rgb(38, 116, 116);
    color: #55410b;
    background-image: url(img/anillos.jpeg);
    background-position: center;
}

.dos{
    background-color: aquamarine;
    color: #55410b;
    background-image: url(img/collares.jpeg);
    background-position: center;
}

.tres{
    background-color: beige;
    color: #55410b;
    padding: 100px;
    background-image: url(img/manillas\ 2.jpeg);
    background-position: center;
    background-repeat: no-repeat;
}
.cuatro{
    background-color: bisque;
    color: #644d0c;
    background-image: url(img/aretess.jpeg);
    background-position: center;
}
.navi{
    width: 40%;
    height:100%;
    background-color: rgb(233, 220, 204);
    color: rgb(155, 155, 117);
    font-size: 2em;
}



@media (min-width: 1200px) {

}

@media (max-width: 768px) {
    header{
        font-size: 2.3em;
    }
    #titulo2{
     height: 50px;
    padding: 10px;
    text-align: center;
    letter-spacing: 8;
    font-size: 0.8em;
    }
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.zona3 {
    height: 80vh; /* ocupa gran parte de la pantalla */
    width: 100%;
    display: flex;
    justify-content: flex-start; /* alinea el contenido a la izquierda */
    align-items: center;         /* centra verticalmente */
    background-color: rgb(24, 26, 61);
    background-image: url("img/ultimo.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: left;
    padding-left: 50px;          /* separaci贸n del borde izquierdo */
}

#mensaje {
    font-size: clamp(1rem, 2.5vw, 1.8rem); /* texto adaptable */
    color: rgb(105, 98, 74);
    letter-spacing: 5px;
    line-height: 1.4;
}
.contenedor-principal{
    flex: 1;
}


@media (max-width: 1024px) {
    .zona3 {
        height: 60vh;
        padding-left: 30px;
    }

    #mensaje {
        font-size: clamp(1rem, 3vw, 1.5rem);
    }
    footer{
        position: relative;
    }
}

/* M贸vil */
@media (max-width: 768px) {
    .zona3 {
        height: 50vh;
        padding-left: 20px;
        justify-content: center;  /* opcional: centrar en m贸vil */
    }

    .nav a{
        padding: 8px;
        font-size: 0.9em;
    }

    #mensaje {
        font-size: clamp(0.8rem, 4vw, 1.2rem);
        text-align: center;       /* opcional: centrar texto en m贸vil */
    }

}
footer{
    background-color: black;
    height: 80px;
    text-align: center;
    color: aliceblue;
    display: flex;
    align-items: center;
    position: absolute;
    font-size: 0.5em;
    bottom: 0;
    width: 100%;
}
/*hombres Mujeres*/
body {
font-family: Arial, sans-serif;
background-color: #f2f2f2;
margin: 0;
padding: 20px;
}


h1 {
color: rgb(202, 182, 117);
background-color: rgb(20, 6, 54);
text-align: center;
margin-bottom: 20px;
}


.galeria {
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 15px;
}


.item {
background: rgb(0, 0, 0);
padding: 2px 0px;
border: 2px solid #ccc;
text-align: center;
height: 5%;
}


img {
width: 100%;
height: auto;
}
